.benefit {
    background-color: var(--color-lightblack);
    padding-top: 143px;
    position: relative;
    min-width: 1440px;
}
.benefit__header {
    width: 58.33%;
}
.benefit__title {
    color: var(--color-white);
}
.benefit__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-sand);
    margin-top: 24px;
    margin-bottom: 10px;
}
.benefit__subtitle:first-child {
    margin-top: 50px;
}
.benefit__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dirtywhite);
}
.benefit__text:last-child {
    margin-bottom: 50px;
}
.benefit__btn {
    margin-right: 16px;
}
.benefit__img {
    position: absolute;
    right: 0;
    top: 150px;
    width: 650px;
    height: 480px;
}
.benefit__footer {
    text-align: center;
}
.benefit__icon {
    margin-top: 127px;
}
.benefit__icontext {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-sand);
    margin-top: 19px;
    margin-bottom: 11px;
}
.benefit__text-2 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 118px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dirtywhite);
}
