.delivery {
    max-width: 1056px;
    margin: auto;
}
.delivery__header {
    text-align: center;
}
.delivery__title {
    margin-bottom: 21px;
}
.delivery__item {
    align-items: flex-start;
    padding: 16px 14px;
}
.delivery__row {
    flex-wrap: wrap;
    margin: -16px -14px;
    padding-top: 45px;
}
.delivery__icon {
    margin-right: 16px;
}
.delivery__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-black);
    margin-bottom: 10px;
}
.delivery__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-lightblack);
}
.delivery__footer {
    text-align: center;
    padding: 22px 0 143px;
}