@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import "./variables.css";
@import "./header.css";
@import "../fonts/style.css";
@import "./components.css";
@import "./hero.css";
@import "./advantages.css";
@import "./info.css";
@import "./perspective.css";
@import "./sponsors.css";
@import "./about.css";
@import "./delivery.css";
@import "./safety.css";
@import "./benefit.css";

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    background-color: var(--color-dirtywhite)
}
.container {
    max-width: 1060px;
    margin: 0 auto;
}